<%= form_tag '/products', method: 'post' do %>
  <%= text_field_tag :product %>
  <%= submit_tag "Save changes" %>
<% end %>

<h3>Cart:</h3>
<% @products.each do |product| %>
  <%= product %><br>
<% end %>
